@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    @include flex_box_custom(flex-start, flex-start, 25px);

    padding: 20px 0px 20px 15px;
    transition: all 300ms ease;
    position: relative;

    img {
        width: 70px;
    }

    .boxCloseIcon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transform: translateX(13px);
        opacity: 0;
        transition: all 0.3s ease 
    }

    .boxContent {
        @include flex_box_custom(center, flex-start, 0px);

        flex-direction: column;

        .title {
            font-size: 16px;
            color: $primary_color;
        }

        .size {
            font-size: 12px;
            color: #9e9e9e;
            margin-top: 4px;
            margin-bottom: 10px;
        }

        .price {
            font-size: 14px;
            color: $four_color;
            margin-bottom: 7px;
        }

    }

    .overlayLoading {
        @include flex_box_custom(center, center, 0px);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        background-color: #f7f7f7;

        .boxCloseIcon {
            transform: translateX(0);
            opacity: 1;
        }
    }
}