@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    @include flex_box_custom(center, center, 0px);
    left: 0;
    right: 0;
}

.topHeader {
    position: absolute;
    top: 0px;
}

.fixedHeader {
    position: fixed;
    top: -83px;
    z-index: 999;
    background-color: #FFFFFFE6;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, .15);
    backdrop-filter: blur(5px);
    transform: translateY(83px);
    transition: transform 500ms ease-in;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 8px);
}

.containerLogo {
    @include flex_box_custom(center, center, 0px);
}

.containerBoxButtonRight {
    @include flex_box_custom(center, center, 20px);

    img:hover {
        cursor: pointer;
    }
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.containerBoxMenuRight {
    @include flex_box_custom(center, center, 25px);
}

.containerMenu {
    @include flex_box_custom(center, center, 32px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);

    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.menuItem {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
    position: relative;

    a {
        color: inherit;
        text-decoration: none;
    }

    .subMenu {
        position: absolute;
        top: 40px;
        width: 100%;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .subMenuItem {
            padding: 10px;

            &:hover {
                cursor: pointer;
                background-color: $hover_color;
            }
        }
    }

    .subMenu::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 40px;
        top: -35px;
        z-index: 1010;
    }

}

.menuItem::after {
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    background-color: $primary_color;
    margin-top: 6px;

    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 500ms;
}

.menuItem:hover::after {
    opacity: 1;
    transform: scale(1);
}

.boxCart {
    position: relative;

    .quantity {
        @include radius_common(50%);
        @include flex_box_custom(center, center, 0px);

        position: absolute;
        width: 17px;
        height: 17px;
        top: -7px;
        right: -5px;
        background-color: $primary_color;
        color: #fff;
        font-size: 12px;
    }
}