@use '@styles/variable.module.scss' as *;

.container {
    margin-bottom: 15px;

    .labelInput {
        font-size: 14px;
        color: $four_color;
        margin-bottom: 5px;
    }

    .boxInput {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 8px 30px 8px 10px;
        }

        .boxIcon {
            cursor: pointer;
            position: absolute;
            top: 10px;
            bottom: 0;
            right: 10px;
        }
    }
}