@use '@styles/variable.module.scss' as *;

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px 0;

    .qrCode {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .orderDetails {
        flex: 1;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;

        .bankLogo {
            width: 40px;
            height: 40px;
        }

        .bankInfo {
            margin-top: 20px;
            gap: 15px;
        }

        .flex {
            display: flex;
        }

        .title {
            justify-content: flex-start;
            flex-direction: column;
            gap: 5px;
        }

        .desc {
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            margin-top: 20px;
            padding-bottom: 10px;

            .title {
                color: $seconddary_color;
            }

            .value {
                color: #000;
            }
        }

        .total {
            font-size: 24px;
        }
    }
}